@use 'mixins/_common.scss' as common;

.MarqueeRoot {
  @include common.reset-appearance;

  // Horizontal: stretch to full width
  // Vertical: fit to content width
  width: 100%;

  &[data-orientation='vertical'] {
    width: fit-content;
  }

  // Pause on hover
  &:hover div {
    --marquee-play: var(--marquee-pause-on-hover);
  }

  // Pause on click
  &:active div {
    --marquee-play: var(--marquee-pause-on-click);
  }
}
