@use 'mixins/_common.scss' as common;

.QrCodeOverlay {
  @include common.reset-appearance();

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  inset: 0;

  width: var(--qr-code-width);
  height: var(--qr-code-height);

  border-radius: var(--f-spacing-4);

  transition:
    transform 1500ms,
    opacity 1500ms,
    background-color 1500ms;

  &[data-status-loading],
  &[data-status-error],
  &[data-status-generated] {
    backdrop-filter: blur(10px);

    box-shadow:
      inset -0.75px -0.5px rgba(255, 255, 255, 0.1),
      inset 0.75px 0.5px rgba(255, 255, 255, 0.025),
      3px 2px 10px rgba(0, 0, 0, 0.25),
      inset 0px 0px 10px 5px rgba(255, 255, 255, 0.025),
      inset 0px 0px 40px 5px rgba(255, 255, 255, 0.025);
  }

  &[data-status-error] {
    color: var(--f-color-error);
  }

  &[data-starting],
  &[data-ending] {
    opacity: 0;
    transform: scale(0.9);
  }
}
