.Arrow {
  display: flex;

  &[data-side='top'] {
    bottom: -8px;
    rotate: 180deg;
  }

  &[data-side='bottom'] {
    top: -8px;
    rotate: 0deg;
  }

  &[data-side='left'] {
    right: -13px;
    rotate: 90deg;
  }

  &[data-side='right'] {
    left: -13px;
    rotate: -90deg;
  }
}

.ArrowFill {
  fill: var(--f-color-bg-2-hover);
  transition: fill 150ms;

  [data-multiple-active] & {
    fill: var(--f-color-brand-35);
  }
}

.ArrowOuterStroke {
  fill: var(--f-color-bg-2-hover);
  transition: fill 150ms;

  [data-multiple-active] & {
    fill: var(--f-color-brand-35);
  }
}

.ArrowInnerStroke {
  fill: var(--f-color-bg-2-hover);
  transition: fill 150ms;

  [data-multiple-active] & {
    fill: var(--f-color-brand-35);
  }
}
