@use 'mixins/_common.scss' as common;

.DrawerBackdrop {
  @include common.reset-appearance();

  --backdrop-color: var(--f-color-bg-0);

  position: fixed;
  inset: 0;
  background-color: var(--backdrop-color);
  opacity: 0.2;
  transition:
    opacity 500ms cubic-bezier(0.45, 1.005, 0, 1.005),
    transform 500ms cubic-bezier(0.45, 1.005, 0, 1.005);

  @media (prefers-color-scheme: dark) {
    opacity: 0.7;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }

  // Down direction - gradient fades from top
  &[data-swipe-direction-down] {
    &::before {
      transform: translateX(-100%);
      background: linear-gradient(to bottom, var(--backdrop-color), transparent);
    }

    &[data-ending-style],
    &[data-starting-style] {
      transform: translateY(100%);
    }
  }

  // Up direction - gradient fades from bottom
  &[data-swipe-direction-up] {
    &::before {
      transform: translateY(100%);
      background: linear-gradient(to top, var(--backdrop-color), transparent);
    }

    &[data-ending-style],
    &[data-starting-style] {
      transform: translateY(-100%);
    }
  }

  // Right direction - gradient fades from left
  &[data-swipe-direction-right] {
    &::before {
      transform: translateX(-100%);
      background: linear-gradient(to left, var(--backdrop-color), transparent);
    }

    &[data-starting-style],
    &[data-ending-style] {
      transform: translateX(100%);
    }
  }

  // Left direction - gradient fades from right
  &[data-swipe-direction-left] {
    &::before {
      transform: translateX(100%);
      background: linear-gradient(to right, var(--backdrop-color), transparent);
    }

    &[data-starting-style],
    &[data-ending-style] {
      transform: translateX(-100%);
    }
  }
}
